@font-face {
    font-family: 'Norse Bold';
    src: url(./assets/Norse-Bold.otf);
}

body {
    ---puke-green: #596D48;
    display: flex;
    font-family: system-ui, sans-serif;
    margin: 0;
}

#sidebar  {
    /* custom properties */
    ---banner-height: 10rem;

    position: relative;
    height: 100vh;
    /* for fonts etc */
    color: white;
    min-height: 100vh;

    #banner {
        /* center logo and text */
        display: flex;
        align-items: center;     
        justify-content: center;
        /* position banner to just about top mid of sidebar */
        position: absolute;
        top: 20%;
        /* span entirety of the container */
        width: 100%;
        
        height: var(---banner-height);
        background: rgba(0, 0 ,0, 0.5);

        > img {
            max-height: calc(var(---banner-height) * .8);
        }
        
        h1 {
            font-size: calc(var(---banner-height) * .7);
        }
    }

    #attribution-text {
        position: absolute;
        width: 100%;
        bottom: 1%;

        display: flex;
        justify-content: center;
    }
    
    > img {
        max-height: 100%;
    }

    h1 {
        font-family: 'Norse Bold';
    }

    a, a:visited {
        color: white;
    }
}

/* main content */

main {
    display: flex;
    flex-direction: column;
    > * {
        padding-left: 50px;
        margin: 10px 0px;
    }

    #form {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 1px 1px 20px rgba(0, 0 ,0, 0.3);
        
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            padding: 0;
        }

        li {
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 40%;
            min-width: 200px;
        }

        label {
            text-transform: uppercase;
            letter-spacing: .1em;
        }

        input {
            border: solid 2px #E5E7EB;
            border-radius: 5px;
            padding: 0.5rem;
        }

        small {
            color: darkred;
        }

        input:focus {
            border-color: blue;
            box-shadow: 1px 1px 5px rgba(0, 0 ,0, 0.5);
            outline: none;
        }

        .error.error {
            border-color: darkred;
        }
    }

    #footer {
        #submit-button {
            width: 12rem;
            height: 2.5rem;
            border-width: 0;
            border-radius: 5px;
            background-color: var(---puke-green);
            color: white;
            font-weight: bold;
        }

        a, a:visited {
            color: var(---puke-green);
            text-decoration: none;
            font-weight: bolder;
        }
    }
    
}