@font-face {
    font-family: 'Norse Bold';
    src: url(./assets/Norse-Bold.otf);
}

body {
    display: flex;
}

#sidebar  {
    position: relative;
    height: 100vh;
    > img {
        max-height: 100%;
    }

    h1 {
        font-family: 'Norse Bold';
    }
}